﻿@using Test.Web.Areas.App.Startup
@{
    ViewBag.CurrentPageName = AppPageNames.Common.DemoUiComponents;
}
@section Styles
{
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/demo-ui-components.css" asp-append-version="true" />
}

@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/_Bundles/demo-ui-components.js" asp-append-version="true"></script>
}

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                <span>@L("DemoUiComponents")</span>
            </h3>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="col-lg-12 alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        @L("DemoUiComponents_Info")<br />
        <a href="https://keenthemes.com/metronic/" class="alert-link" target="_blank">@L("DemoUiComponents_Info_Metronic_Link_Text")</a>
    </div>   
    
    @Html.Partial("_DateAndTimePickers")

    @Html.Partial("_FileUpload")

    @Html.Partial("_Selections")

    @Html.Partial("_InputMask")

    @Html.Partial("_Editor")
</div>