﻿@using System.Threading.Tasks
@using Test.Web.Areas.App.Startup

@{
    ViewBag.CurrentPageName = AppPageNames.Common.UiCustomization;
}

<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                <span>@L("NewItem")</span>
            </h3>
            <span class="m-section__sub">
                @L("NewItem")
            </span>
        </div>
    </div>
</div>

<div class="m-content">
    <p>MY FIRST CONTENT COMES HERE!</p>
</div>
