﻿@model Test.Web.Models.Account.VerifySecurityCodeViewModel
@section Scripts
{
    <script abp-src="/view-resources/Views/Account/VerifySecurityCode.js" asp-append-version="true"></script>
}
<div class="m-login__signin">
    <div class="m-login__head">
        <h3 class="m-login__title">
            @L("VerifySecurityCode")
        </h3>
    </div>
    <form class="m-login__form m-form verify-security-code-form" asp-action="VerifySecurityCode" method="post">
        <p>@L("VerifySecurityCode_Information")</p>

        @Html.Hidden("returnUrl", Model.ReturnUrl)
        @Html.Hidden("provider", Model.Provider)
        @Html.Hidden("rememberMe", Model.RememberMe)
        
        <div class="form-group m-form__group">
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control", required = "required", placeholder = Model.Code })
        </div>
        
        @if (Model.IsRememberBrowserEnabled)
        {
            <div class="form-group margin-top-20">
                <label class="m-checkbox">
                    @Html.CheckBoxFor(m => m.RememberBrowser, new { @class = "form-control" }) @L("RememberThisBrowser")
                    <span></span>
                </label>
            </div>
        }

        <div class="m-login__form-action">
            <input type="submit" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--air" value="@L("Submit")" />
        </div>

    </form>
</div>