﻿@model Test.Web.Models.TenantRegistration.TenantRegisterResultViewModel
@{
    ViewBag.DisableTenantChange = true;
}
<h4>@L("SuccessfullyRegistered").</h4>
<ul>
    <li><span class="text-muted">@L("TenancyName"):</span> @Model.TenancyName</li>
    <li><span class="text-muted">@L("Name"):</span> @Model.Name</li>
    <li><span class="text-muted">@L("UserName"):</span> @Model.UserName</li>
    <li><span class="text-muted">@L("EmailAddress"):</span> @Model.EmailAddress</li>
</ul>
<div>
    @if (Model.IsEmailConfirmationRequired)
    {
        <div class="alert alert-warning" role="alert">
            @L("ConfirmationMailSentPleaseClickLinkInTheEmail", Model.EmailAddress)
        </div>
    }
    @if (!Model.IsActive)
    {
        <div class="alert alert-warning" role="alert">
            @L("YourAccountIsWaitingToBeActivatedByAdmin")
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.TenantLoginAddress))
    {
        <div class="alert alert-info" role="alert">
            @L("TenantRegistrationLoginInfo")<br />
            <a href="@Model.TenantLoginAddress">@Model.TenantLoginAddress</a>
        </div>
    }
</div>