﻿@using System.Threading.Tasks
@using Test.Authorization
@using Test.Web.Areas.App.Startup
@{
    ViewBag.CurrentPageName = AppPageNames.Host.Editions;
}
@section Styles
    {
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/edition-list.css" asp-append-version="true" />
}

@section Scripts
    {
    <script abp-src="/view-resources/Areas/App/Views/_Bundles/edition-list.js" asp-append-version="true"></script>
}

<div class="m-subheader ">
    <div class="row align-items-center">
        <div class="mr-auto col-sm-12 col-md-6">
            <h3 class="m-subheader__title m-subheader__title--separator">
                <span>@L("Editions")</span>
            </h3>
            <span class="m-section__sub">
                @L("EditionsHeaderInfo")
            </span>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
            @if (IsGranted(AppPermissions.Pages_Editions_Create))
            {
                <button id="CreateNewEditionButton" class="btn btn-primary"><i class="fa fa-plus"></i> @L("CreateNewEdition")</button>
            }
        </div>
    </div>
</div>


<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="row align-items-center">
                <table id="EditionsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                    <tr>
                        <th></th>
                        <th>@L("Actions")</th>
                        <th>@L("EditionName")</th>
                        <th>@L("CreationTime")</th>
                    </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</div>
