﻿@using Abp.Collections.Extensions
@using Test.Web.Areas.App.Views.Shared.Components.AppMenu
@model UserMenuItemViewModel

<li class="m-menu__item @(Model.MenuItem.Items.IsNullOrEmpty() ? "":"m-menu__item--submenu") @(Model.MenuItem.IsMenuActive(Model.CurrentPageName) ? "m-menu__item--active" : "")"
    aria-haspopup="true"
    @(Model.RootLevel ? "" : " role=none")
    data-menu-submenu-toggle="hover">
    @if (Model.MenuItem.Items.IsNullOrEmpty())
    {
        <a href="@Model.MenuItem.CalculateUrl(ApplicationPath)" class="m-menu__link"
           role="menuitem"
           aria-haspopup="true"
           aria-expanded="false"
           tabindex="@(Model.MenuItemIndex==0 ? "0" : "-1")">
            <i class="m-menu__link-icon @Model.MenuItem.Icon"></i>
            <span class="m-menu__link-text">
                <span class="title">@Model.MenuItem.DisplayName</span>
            </span>
        </a>
    }
    else
    {
        <a href="#" class="m-menu__link m-menu__toggle"
           role="menuitem"
           aria-haspopup="true"
           aria-expanded="false"
           tabindex="@(Model.MenuItemIndex==0 ? "0" : "-1")">
            <i class="m-menu__link-icon @Model.MenuItem.Icon"></i>
            <span class="m-menu__link-text">
                <span class="title">@Model.MenuItem.DisplayName</span>
            </span>

            @if (Model.RootLevel)
            {
                <i class="m-menu__hor-arrow la la-angle-down"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            }
            else
            {
                <i class="m-menu__hor-arrow la la-angle-right"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            }
        </a>
        <nav class="m-menu__submenu m-menu__submenu--classic @(Model.RootLevel ? "":"m-menu__submenu--right")" aria-label="@Model.MenuItem.DisplayName">
            <span class="m-menu__arrow"></span>
            <ul class="m-menu__subnav"
                role="menu"
                aria-label="@Model.MenuItem.DisplayName">
                @for (var i = 0; i < Model.MenuItem.Items.Count; i++)
                {
                    var childMenuItem = Model.MenuItem.Items[i];
                    if (!childMenuItem.IsVisible)
                    {
                        continue;
                    }
                    @Html.Partial("Components/AppMenu/_TopUserMenuItem", new UserMenuItemViewModel
                    {
                        MenuItem = childMenuItem,
                        MenuItemIndex = i,
                        CurrentPageName = Model.CurrentPageName,
                        RootLevel = false
                    })
                }
            </ul>
        </nav>
    }
</li>
