﻿@using Test.Web.Areas.App.Models.Layout
@using Test.Web.Areas.App.Views.Shared.Components.AppMenu
@using Test.Web.Theme
@inject IUiThemeCustomizer UiThemeCustomizer
@model MenuViewModel
@{

}
<nav id="m_ver_menu"
     aria-label="@L("LeftMenu")"
     class="m-aside-menu  
            m-aside-menu--skin-@UiThemeCustomizer.LeftAsideAsideSkin 
            m-aside-menu--submenu-skin-@(UiThemeCustomizer.LeftAsideDropdownSubmenuSkin == "inherit" ? UiThemeCustomizer.LeftAsideAsideSkin: UiThemeCustomizer.LeftAsideDropdownSubmenuSkin)"
     m-menu-vertical="1"
     @(UiThemeCustomizer.LeftAsideFixedAside ? "m-menu-scrollable=1" : "m-menu-scrollable=0") m-menu-dropdown-timeout="500">
    <ul class="m-menu__nav  @(UiThemeCustomizer.LeftAsideDropdownSubmenuArrow ? "m-menu__nav--dropdown-submenu-arrow":"") " 
        role="menubar" 
        aria-label="@L("LeftMenu")">
        @for (var i = 0; i < Model.Menu.Items.Count; i++)
        {
            var menuItem = Model.Menu.Items[i];
            @Html.Partial("Components/AppMenu/_UserMenuItem", new UserMenuItemViewModel
            {
                MenuItem = menuItem,
                MenuItemIndex = i,
                RootLevel = true,
                CurrentPageName = Model.CurrentPageName
            })
        }
    </ul>
</nav>