﻿@using System.Globalization
@using Abp.AspNetZeroCore.Timing
@using Abp.MultiTenancy
@using Abp.Web.Mvc.Alerts
@using Test.Features
@using Test.Web.Areas.App.Views.Shared.Components.AppHeader
@using Test.Web.Areas.App.Views.Shared.Components.AppMenu
@using Test.Web.Resources
@using Abp.Web.Security.AntiForgery
@using Test.Url
@using Test.Web.Areas.App.Models.Layout
@using Test.Web.Areas.App.Views.Shared.Components.AppFooter
@using Test.Web.Session
@using Test.Web.Theme
@using CultureHelper = Test.Localization.CultureHelper
@inject ScriptPaths ScriptPaths
@inject AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IWebUrlService WebUrlService
@inject IPerRequestSessionCache SessionCache
@inject IUiThemeCustomizer UiThemeCustomizer
@inject IAlertManager AlertManager
@{
    AbpAntiForgeryManager.SetCookie(Context);

    var isChatEnabled = (AbpSession.MultiTenancySide == MultiTenancySides.Host || IsFeatureEnabled(AppFeatures.ChatFeature));
    var headerViewModel = new HeaderViewModel();
    var theme = UiThemeCustomizer.SelectedTheme;
}
<!DOCTYPE html>
<html lang="en" dir=@(CultureHelper.IsRtl ? "rtl" : "")>
<head prefix="og: http://ogp.me/ns#">
    <title>Test</title>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <meta property="og:title" content="Test" />
    <meta property="og:image" content="@headerViewModel.GetLogoUrl(ApplicationPath, UiThemeCustomizer.LeftAsideAsideSkin)" />
    <meta property="og:description" content="Base solution for your next web application" />
    <meta property="og:url" content="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")">

    <link rel="shortcut icon" href="~/favicon.ico" />

    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/vendors.bundle.css" asp-append-version="true" />
    <link rel="stylesheet" href="@(ApplicationPath)metronic/dist/html/@theme/assets/demo/@theme/base/style.bundle@(CultureHelper.IsRtl ? ".rtl":"").css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/app-layout-libs.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/common-styles.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/Common/Scripts/Datatables/datatables@(CultureHelper.IsRtl ? "-rtl":"").css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/Common/Styles/metronic-customize.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/Common/Styles/Themes/@theme/metronic-customize.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/Common/Styles/Themes/@theme/datatables@(CultureHelper.IsRtl ? "-rtl":"").css" asp-append-version="true" />

    @if (CultureHelper.IsRtl)
    {
        <link rel="stylesheet" href="@(ApplicationPath)Common/Styles/abp-zero-template-rtl.css" asp-append-version="true" />
    }

    @if (isChatEnabled)
    {
        <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/Layout/_ChatBar.css" asp-append-version="true" />
    }

    @if (UiThemeCustomizer.IsTopMenuUsed)
    {
        <link rel="stylesheet" abp-href="/Common/Styles/metronic-customize-top-menu.css" asp-append-version="true" />
        <link rel="stylesheet" abp-href="/Common/Styles/Themes/@theme/metronic-customize-top-menu.css" asp-append-version="true" />
    }

    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/Layout/_Layout.css" asp-append-version="true" />

    @RenderSection("Styles", false)

    @{ var loginInfo = await SessionCache.GetCurrentLoginInformationsAsync(); }
    @if (loginInfo.Tenant?.CustomCssId != null)
    {
        <!-- id parameter is used to prevent caching -->
        <link id="TenantCustomCss" rel="stylesheet" href="@Url.Action("GetCustomCss", "TenantCustomization", new { area = string.Empty, id = loginInfo.Tenant.CustomCssId.Value })" asp-append-version="true" />
    }

    <script type="text/javascript">
        @* This is used to get the application's root path from javascript.
        It's useful if you're running application in a virtual directory under IIS. *@
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>
</head>
<!-- END HEAD -->
<!-- begin::Body -->
<body class="m-page--@(UiThemeCustomizer.LayoutType) m--skin-@(UiThemeCustomizer.ContentSkin)
      m-content--skin-@UiThemeCustomizer.ContentSkin
      m-header--@(UiThemeCustomizer.HeaderDesktopFixedHeader ? "fixed":"static")
      @(UiThemeCustomizer.HeaderMobileFixedHeader ? "m-header--fixed-mobile":"")
      @((UiThemeCustomizer.LeftAsideFixedAside && !UiThemeCustomizer.IsTopMenuUsed) ? "m-aside-left--fixed":"")
      @(UiThemeCustomizer.LeftAsideDefaultMinimizedAside ? "m-aside-left--minimize m-brand--minimize":"")
      @(UiThemeCustomizer.LeftAsideDefaultHiddenAside || UiThemeCustomizer.IsTopMenuUsed ? "m-aside-left--hide":"")
      m-aside-left--enabled
      m-aside-left--skin-@(UiThemeCustomizer.LeftAsideAsideSkin)
      m-aside-left--offcanvas
      @(UiThemeCustomizer.FooterFixedFooter && UiThemeCustomizer.LayoutType != "boxed" ? "m-footer--fixed" : "")">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <!-- BEGIN: Header -->
        @await Component.InvokeAsync(typeof(AppHeaderViewComponent))
        <!-- END: Header -->
        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
            <!-- BEGIN: Left Aside -->
            @if (UiThemeCustomizer.IsLeftMenuUsed)
            {
                <button class="m-aside-left-close  m-aside-left-close--skin-@UiThemeCustomizer.LeftAsideAsideSkin " id="m_aside_left_close_btn">
                    <i class="la la-close" aria-label="@L("Close")"></i>
                </button>
                <div id="m_aside_left" class="m-grid__item	m-aside-left m-aside-left--skin-@UiThemeCustomizer.LeftAsideAsideSkin">
                    <!-- BEGIN: Aside Menu -->
                    @await Component.InvokeAsync(typeof(AppMenuViewComponent), new { currentPageName = ViewBag.CurrentPageName })
                    <!-- END: Aside Menu -->
                </div>
            }
            <!-- END: Left Aside -->
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
                @if (AlertManager.Alerts.Any())
                {
                    <div id="AbpPageAlerts">
                        @foreach (var alertMessage in AlertManager.Alerts)
                        {
                            <div class="alert alert-@alertMessage.Type.ToString().ToLower() @(alertMessage.Dismissible ? "alert-dismisable" : "")" role="alert">
                                <h4 class="alert-heading">
                                    @alertMessage.Title
                                    @if (alertMessage.Dismissible)
                                    {
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    }
                                </h4>
                                <p>@alertMessage.Text</p>
                            </div>
                        }
                    </div>
                }

                @RenderBody()
            </div>
        </div>
        <!-- end:: Body -->
        <!-- begin::Footer -->
        @await Component.InvokeAsync(typeof(AppFooterViewComponent))
        <!-- end::Footer -->
    </div>
    <!-- end:: Page -->
    <!-- begin::Chat Bar -->
    @if (isChatEnabled)
    {
        @Html.Partial("~/Areas/App/Views/Layout/_ChatBar.cshtml")
    }
    <!-- end::Chat Bar -->
    <!-- begin::Scroll Top -->
    <div class="m-scroll-top m-scroll-top--skin-top d-print-none" data-toggle="m-scroll-top" data-scroll-offset="500" data-scroll-speed="300">
        <i class="la la-arrow-up" aria-label="@L("Collapse")"></i>
    </div>
    <!-- end::Scroll Top -->
    <!--begin::Base Scripts -->
    <script abp-src="/view-resources/Areas/App/Views/_Bundles/app-layout-libs.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/_Bundles/scripts.bundle.js" asp-append-version="true"></script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="@(ApplicationPath)AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script src="@(ApplicationPath)AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>

    <script type="text/javascript">
        abp.localization.currentCulture = $.extend({}, abp.localization.currentCulture, { displayNameEnglish: '@CultureInfo.CurrentUICulture.EnglishName' });
        moment.locale('@(CultureHelper.UsingLunarCalendar ? "en": CultureInfo.CurrentUICulture.Name )'); //Localizing moment.js
    </script>

    <script src="@(ApplicationPath)lib/@@aspnet/signalr/dist/browser/signalr.min.js/signalr.min.js" asp-append-version="true"></script>
    <script src="@(ApplicationPath)lib/abp-web-resources/Abp/Framework/scripts/libs/abp.signalr-client.js" asp-append-version="true"></script>

    <script abp-src="/view-resources/Areas/App/Views/_Bundles/common-scripts.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/_Bundles/app-common-scripts.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/Layout/_Header.js" asp-append-version="true"></script>

    @if (isChatEnabled)
    {
        <script src="@(ApplicationPath)view-resources/Areas/App/Views/Layout/_ChatBar.js" asp-append-version="true"></script>
        <script src="@(ApplicationPath)Common/Scripts/Chat/chat.signalr.js" asp-append-version="true"></script>
    }

    <script src="~@ScriptPaths.JQuery_Validation_Localization" asp-append-version="true"></script>
    <script src="~@ScriptPaths.Bootstrap_Select_Localization" asp-append-version="true"></script>
    <script src="~@ScriptPaths.JQuery_Timeago_Localization" asp-append-version="true"></script>
    <script src="~@ScriptPaths.Select2_Localization" asp-append-version="true"></script>

    <!--end::Base Scripts -->
    <!--begin::Page Snippets -->
    @RenderSection("Scripts", false)
    <script>
        app.supportsTenancyNameInUrl = @(WebUrlService.SupportsTenancyNameInUrl.ToString().ToLower());
    </script>
    <!--end::Page Snippets -->
</body>
<!-- end::Body -->
</html>