﻿@model IEnumerable<string>

@{
    ViewBag.Title = "Current modules";
}

<h2>
    Modules that currently in use:
</h2>

@if (Model != null)
{
    int counter = 0;
    foreach (var item in Model)
    {

        <p>Module #@counter  @item</p>

        counter++;
    }
}
