﻿<h1>Список пользователей</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="addUser()" />
<table class="table table-striped">
	<thead>
		<tr>
			<td>Id</td>
			<td>Имя</td>
			<td>Возраст</td>
			<td></td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of users">
			<ng-template [ngTemplateOutlet]="loadTemplate(user)"
						 [ngTemplateOutletContext]="{ $implicit: user}">
			</ng-template>
		</tr>
	</tbody>
</table>
<div>{{statusMessage}}</div>


<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-user>
	<td>{{user.Id}}</td>
	<td>{{user.Name}}</td>
	<td>{{user.Age}}</td>
	<td>
		<input type="button" value="Изменить" class="btn btn-default" (click)="editUser(user)" />
	</td>
	<td>
		<input type="button" value="Удалить" (click)="deleteUser(user)" class="btn btn-danger" />
	</td>
</ng-template>

<!--шаблон для редактирования-->
<ng-template #editTemplate>
	<td>
		<input type="text" [(ngModel)]="editedUser.Id" readonly disabled class="form-control" />
	</td>
	<td>
		<input type="text" [(ngModel)]="editedUser.Name" class="form-control" />
	</td>
	<td>
		<input type="text" [(ngModel)]="editedUser.Age" class="form-control" />
	</td>
	<td>
		<input type="button" value="Сохранить" (click)="saveUser()" class="btn btn-success" />
	</td>
	<td>
		<input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
	</td>
</ng-template>